<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Gambling-Odds 4 U</title>
  <meta name="description" content="IT490">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"

</head>

<body>
  <script src="js/scripts.js"></script>

<!--Home -->
  <form action="action_page.php">
  <div class="container">
    <h1>Welcome!</h1>
  </div>

  <div class="container login">
    <p>Already have an account? <a href="/login">Click here to sign in</a>.</p>
	</div>
	
  <div class="container register">
    <p>Don't have an account? <a href="/register">Register</a>.</p>
  </div>
  
</form>

</body>
</html>