<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Gambling-Odds 4 U</title>
  <meta name="description" content="IT490">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyles.css') }}"

</head>

<body>
  <script src="js/scripts.js"></script>

<p><a href="/">Click here to go home</a></p>
<p> </p>

<!--LOGIN FORM -->
  <form action="action_page.php">
  <div class="container">
    <h1>Login</h1>
    <p>Please login below.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="loginbtn">Login</button>
  </div>

  <div class="container register">
    <p>Don't have an account? <a href="/register">Register</a>.</p>
  </div>
</form>

</body>
</html>