<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Gambling-Odds 4 U</title>
  <meta name="description" content="IT490">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"

</head>

<body>
  <script src="js/scripts.js"></script>

<p><a href="/">Click here to go home</a></p>
<p> </p>

<!--REGISTRATION FORM -->
  <form action="/register/" method="POST">
  <div class="container">
  
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container login">
    <p>Already have an account? <a href="/login">Click here to sign in</a>.</p>
  </div>
</form>

</body>
</html>